body{
  background: grey;
  text-align: center;
}
img{
  width: 50%;
}
.card{
  background: purple;
  width: 40%;
  border-radius: 2em;
}
#card{
  justify-content:space-around;
  display: flex;
  margin:2%;
}
.card:hover{
  box-shadow: 0 8px 8px 0 red;
}
